.footer-container {
    height: 11vh;
    width: 100%;
    background-color: #C4D1E6;
  }

.footer-content {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .footer-logo img {
    margin-left: 3vh;
    height: 9vh;
    margin-top: 1vh;
  }
  
.footer-social{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
    margin-right: 3vh;
}

.icon1{
    height:7vh;
}

.icon2{
    margin-top: -5px;
    height: 9vh;
}

.icon3{
    height: 7vh;
}
  