.grafic-dashboard {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.863);
  color: rgb(17, 17, 17);
}

.div-grafic {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  height: 70vh;
  color: black;
}

.card-data {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
  height: 10vh;
  border-radius: 5vh;
}

.card {
  padding: 1rem;
  background-color: #e3e6eb;
  height: 12vh;
  border-radius: 20px;
  font-size: medium;
  font-weight: 600;
}

.porcent-text{
  margin-top: 5vh;
  width: 30vh;
  font-size: medium;
  font-weight: bold;
}

.title{
  margin-bottom: 1vh;
}

.porcent {
  color: #688DCE;
  font-weight: 600;
  text-align: center;
}

.card-data div {
  margin-top: 10px; 
}

.c{
  margin-left: -6vh;
}


.dashboard {
  width: 40vh;
  height: 88vh;
  margin-top: 2vh;
  font-size: large;
  padding: 0;
  background-color: #e3e6eb;
  border-radius: 5vh;
  flex-direction: column;
}

.perfile {
  margin: 4vh;
  font-size: smaller;
  font-weight: 900;
  text-align: justify;
}

.img-perfil {
  text-align: center;
  width: 19vh;
}

.username {
  margin-top: 2vh;
  font-weight: bold;
  font-size: large;
}

.perfil-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: smaller;
  font-family: 'Didot (serif)';
  background-color: #f2f2f2;
  height: 40vh;
  margin-left: 4vh;
  border-radius: 2vh;
  margin-top: 5vh;
  width: 80%;
}

.datasocket{
  display: flex;
  justify-content:space-around;
}

.text-data {
  font-weight: bold;
  font-size: small;
  font-family: 'Didot (serif)';
  margin: 1vh;
}

@media only screen and (max-width: 768px) {
  .grafic-dashboard {
      flex-direction: column;
      height: auto;
  }

  .div-grafic {
      margin-top: 0;
      width: 80%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
  }

  .porcent-text{
    font-size: medium;
  }

  .card-data{
    align-items: center;
    margin-top: 30vh;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20vh;
  }

  .card{
    width: 18vh;
    height: 13vh;
    font-size: small;
  }

  .dashboard {
      width: 100%;
      height: auto;
      margin-top: 10vh;
      margin-bottom: 15vh;
      height: auto;
  }

  .img-perfil{
    height: 15vh;
    width: 15vh;
  }

  .perfil-data {
      flex-direction: column;
      width: 100%;
      font-size: small;
      height: 60vh;
      margin-left: 0;
  }

  .BarChart{
    width: 20vh;
    height: 20vh;
  }
}
