@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-information,.text-information-black,.radonm-data,.div-product, .div-img, .div-container-text, .div-specs-container, .redirectLogin {
  animation: fadeIn 2s ease-in-out;
}

.random-data {
  display: flex;
  justify-content: space-around;
  margin: 10vh; 
  width: 90%; 
  margin-top: 15vh; 
  margin-bottom: -10vh; 
}

.text-information {
  margin-top: 20vh; 
  width: 85vh; 
  font-size:larger;
  text-align: justify;
}

.text-container-info{
  display: flex;
  flex-direction: column;
}

.text-information-black{
  width: 85vh;
  font-size: larger;
  text-align: center;
  font-weight: 900;
  margin-top: 5vh;
}

.running{
  margin-top: 5vh;
  height: 60vh;
}

.div-product{
  display: flex;
  justify-content: space-around;
  margin: 30vh;
  height: 100%;
  text-align:center;
}

.img-product{
  margin-top: 5vh;
  height: 40vh;
}

.div-information {
  width: 80vh;
  margin: 0 auto; 
  text-align: center; 
}

.ask {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 10vh;
}

.answer {
  text-align: center;
  font-size: larger; 
  margin-top: 5vh;
}

.div-img img {
  width: 75%;
  max-height: 75%;
}

.div-container-text {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.div-container-text p span.highlight {
  background-color: #C4D1E6;
}

.div-specs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 10vh;
}

.div-specs-container img {
  height: 11vh;
  width: 11vh;
}

.div-specs-container img:hover {
  transform: scale(1.1);
}

.div-specs-container div {
  width: 12%;  
  text-align: center;
}

.redirectLogin{
  display: flex;
  justify-content: space-around;
  height: 50vh;
  margin-top: 30vh;
  margin-bottom: 15vh;
  text-align: center;
}

.userlogin{
  width: 45vh;
}

.div-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  width: 20%;
  height: 30vh;
}

.btn-login-user{
  border: transparent;
  background:  #3A6BC1;
  color: #F2F2F2;
  font-family: 'Didot (serif)';
  font-size: medium;
  font-weight: bold;
  cursor: pointer;  
  border-radius: 4vh;
  margin-top: 2vh;
  width: 38vh;
  height: 6vh;
  transition: background-color 0.3s ease; 
}

.btn-login-user:hover {
  background:  #1a1a1a; 
}


.text-login {
  font-size: x-large;
  font-weight: bold;
  font-family: 'Didot', serif;
  margin-bottom: 3vh;
}

@media only screen and (max-width: 1200px) {
  .div-specs-container {
    margin-left: 10vh;
    margin-right: 10vh;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; 
  }

  .body-container{
    width: 100%;
  }

  .random-data {
    width: 90%; 
    margin: 20vh auto 20vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: -1vh;
  }

  .text-information{ 
    margin-bottom: 10vh;
  }
  
  .text-information,
  .text-information-black {
    text-align: justify;
    font-size: medium;
    width: 90%; 
    margin: 0 auto;
  }
  
  .text-container-info {
    margin-top: -3vh; 
    width: 90%; 
    margin: 0 auto; 
  }
  
  .running {
    height: 30vh; 
  }

  .div-product {
    margin-top: -15vh;
    margin: 5vh;
    flex-direction: column;
  }

  .img-product {
    margin-top: 5vh;
    width: 35vh;
    height: 20vh;
  }

  .div-information {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .ask {
    margin-top: 5vh;
    font-size: large;
  }

  .answer {
    text-align: justify;
    margin-top: 2vh;
    font-size: medium;
  }

  .div-container-text{
    margin-top: 10vh;
    margin-bottom: -7vh;
    margin-left: 3vh;
    margin-right: 3vh;
    justify-content: center;
    font-size: large;
  }

  .div-specs-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .div-specs-container div {
    width: 90%;
    margin: 2vh 0;
  }
  
  .div-login {
    width: 80%;
    margin: 0 auto; 
    text-align: center;
  }

  .userlogin {
    width: 30vh;
  }

  .text-login {
    text-align: center;
    font-size: medium;
  }

  .btn-login-user {
    width: 40vh;
    font-size: small;
    height: 5vh;
  }

  .redirectLogin {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 20vh;
  }

  .div-specs-container img {
    height: 8vh;
    width: 8vh;
  }

}