@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Agrega esta regla para la animación de aparición gradual */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.div-product, .div-img, .div-container-text, .div-specs-container, .redirectLogin {
  animation: fadeIn 2s ease-in-out;
}


.div-product{
  margin: 30vh;
  height: 100vh;
  margin-top: 20vh;
  text-align: center;
}

.img-product{
  margin-top: 2vh;
  height: 40vh;
}

.div-information {
  width: 40%;
  margin: 0 auto; 
  text-align: center; 
}

.ask {
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Didot', serif; 
  margin-top: 6vh;
}

.answer {
  text-align: center;
  font-size: medium;
  font-family: 'Didot', serif; 
  margin-top: 5vh;
}

.div-img {
  display: flex;
  justify-content: space-around;
  margin-top: 30vh;
}

.div-container-img,
.div-container-img2 {
  background-color: #C4D1E6;
  width: 40vh;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.div-container-img2{
  margin-top: -4vh;
}

.div-container-img:hover,
.div-container-img2:hover {
  transform: scale(1.1); 
}

.div-img img {
  width: 75%;
  max-height: 75%;
}

.div-container-text {
  font-family: 'Didot', serif;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
}


.div-specs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Didot', serif;
  text-align: center;
  margin-top: 25vh;
}

.div-specs-container img {
  height: 11vh;
  width: 11vh;
}

.div-specs-container img:hover {
  transform: scale(1.1);
}

.div-specs-container div {
  width: 17%;  
  text-align: center;
  font-family: 'Didot', serif;
}

.redirectLogin{
  display: flex;
  justify-content: space-around;
  height: 50vh;
  margin-top: 30vh;
  text-align: center;
}

.userlogin{
  width: 40vh;
}

.div-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  width: 40vh;
  height: 30vh;
}

.btn-login-user{
  border: transparent;
  background:  #3A6BC1;
  color: #F2F2F2;
  font-family: 'Didot (serif)';
  font-size: medium;
  font-weight: bold;
  cursor: pointer;  
  border-radius: 4vh;
  margin-top: 2vh;
  width: 40vh;
  height: 6vh;
}


.text-login {
  font-size: x-large;
  font-weight: bold;
  font-family: 'Didot', serif;
  margin-bottom: 3vh;
}


